@import url('https://fonts.googleapis.com/css2?family=Copse:wght@300;400;600;700&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title: #001A49;
}

*{
    box-sizing: border-box;
}


body{
    font-family: 'Copse', serif;
    background-color:rgba(255, 255, 255, 1);
    margin: 0;
}

h1{ font-size: 2.7em;}
h2{ font-size: 1.9em;}
h3{ font-size: 1.5em;}
h4{ font-size: 1em;}
p{ font-size: 1em;}
ul{ list-style: none;}
li{font-size: 1.0em;}

button{
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: white;
    right: 0px;
    position: right;
}

button:hover{
    background-color: rgba(228, 225, 139, 0.83);
    right: 0px;
}

.container{
    padding: 60px 0;
    width: 90%;
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
    left:0px;
}

.header{
    width: 90%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: right;
    display: grid;
    background-color: white;
}

header.mainmenu-btn{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: right;
    
}

header.nav{
    width: 100%;
    max-width: 1000px;
    max-height: 1000px;
    margin: 0 auto;
    overflow: hidden;
    background-color: rgb(209, 210, 208);
    padding: var(--padding-container);
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: right;
    padding: 25px;
}

.mainmenu{
    margin-left: 340px;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    text-align: right;
}

