body{
    font-family: 'Copse', serif;
}

.content{
    width: 95%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button{
    border-radius: 5px;
    height: 5vh;
    width: 14vw;
    margin-top: 10px;
    flex-direction: center;
    background-color: beige;
    font-family: 'Copse', serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 0.9em;
    text-align: center;
    color: rgba(0, 0, 0, 0.753);
}

.button:hover {
    cursor: pointer;
    background-color: #E4E18B;
    color: black;
} 
 

.buttonLogOut{
    border-radius: 5px;
    height: 5vh;
    width: 13vw;
    margin-top: 5px;
    flex-direction: center;
    background-color: beige;
    font-family: 'Copse', serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 0.9em;
    text-align: center;
    color: rgba(0, 0, 0, 0.753);
}


.buttonLogOut:hover {
    cursor: pointer;
    background-color: rgba(221, 128, 128, 0.959);
    color: black;
}   

.buttonSave{
    border-radius: 5px;
    height: 5vh;
    width: 13vw;
    min-width: 13vw;
    margin-top: -25px;
    margin-left: 110%;
    margin-right: 10px;
    background-color: beige;
    font-family: 'Copse', serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 0.9em;
    text-align: center;
    color: rgba(0, 0, 0, 0.753);
}

.buttonSave:hover {
    cursor: pointer;
    background-color: rgba(72, 219, 72, 0.966);
    color: black;
}  

.DivUser
{
   width: 20vw; 
   height: 70vh;
   max-width: 500px;
   min-width: 300px;
   margin: 60px 2% 10px 2%;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   background-color:#E2E5E7;
   
}

.imageUser{
    width: 100px;
    height: 100px;
}

.imageLogOut{
    width: 16px;
    height: 16px;
    flex-direction: center;
}

.tittle{
    font-family: 'Copse', serif;
    color: black;
    font-style: normal;
    text-align: center;
    font-weight: bolder;
    margin-left: 1%;
    margin-right: 0.2%;
}

.tittlet{
    font-family: 'Copse', serif;
    color: black;
    font-style: normal;
    margin-left: 1%;
    text-decoration: underline;
    margin-top: 1%;

}

.input{
    height: 14px;
    width: 10vw;
    min-width: 80px;
    max-width: 800px;
    max-height: 100%; 
    color: #1f1e1e;
    border-radius: 5px;
    display: inline-block;
    
    
}

.divForm{
    width: 100vw; 
    height: 70vh;
    max-height: 100%;
    max-width: 62%;
    margin-top: 5%;
    margin: 60px 2% 10px 25%;
    border-radius: 10px;
    display: flex;
    position: absolute;
    justify-content: left;
}

.Div{
    width: 840px;
    min-width: 300px;
    max-width: 100%;
    min-height: 10px;
    margin-top: 0.6%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.DivSwitch{
    width: 5px;
    height: 10px;
    min-width: 220px;
    max-width: 100%;
    min-height: 10px;
    margin-left: 6px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.DivSave{
    width: 3px;
    height: 35px;
    min-width: 170px;
    max-width: 100%;
    min-height: 10px;
    margin-left: 200%;
    margin-top: 60px;
    display: flex;
    flex-direction: center;

}
